<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @parametro.nome %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @parametro.valor %>
</p>

<%= link_to 'Edit', edit_parametro_path(@parametro) %> |
<%= link_to 'Back', parametros_path %>
